<head>
  <%= stylesheet_link_tag 'recipes/new', :media => "all" %>
  <%= stylesheet_link_tag 'reset', :media => "all" %>
</head>

<%= render "shared/index_header" %>
<body>
<div class='add-recipes-screen'>
  <h2 class="add-recipes-title">料理の情報を入力</h2>
  <%= form_with model: @recipe, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class='add-recipes-main'>

    <div class='left-contents'>
      <div class="img-upload">
        <div class="weight-bold-text">
          料理画像
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image, id:"recipe-image" %>
        </div>
      </div>
    </div>

    <div class='right-contents'>
      <div class="new-recipes">

        <div class="weight-bold-text">
          料理名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :name, class:"recipes-text", id:"recipe-name", placeholder:"料理名（必須 40文字まで)", maxlength:"40" %>

        <div class="form">
          <div class="weight-bold-text">
            カテゴリー
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"recipe-category"}) %>
          <div class="weight-bold-text">
            構成
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:kondate_id, Kondate.all, :id, :name, {}, {class:"select-box", id:"recipe-sales-status"}) %>
        </div>

      </div>
    </div>
    </div>
    <div class="sell-btn-contents">
      <%= f.submit "追加する" ,class:"sell-btn" %><br>
      <div class='back'>
      <%=link_to 'もどる', recipes_path, class:'back-btn' %>
      </div>
    </div>
  <% end %>
</div>
</body>