<head>
  <%= stylesheet_link_tag 'recipes/show', :media => "all" %>
  <%= stylesheet_link_tag 'reset', :media => "all" %>
  <%= javascript_include_tag 'addlist' %>
</head>

<%= render "shared/index_header" %>

<body>
  <div class='show-recipe-screen'>
    <div class='show-recipe-items'>
      <div class='left-items'>
        <%= image_tag @recipe_food.image, class: "recipe-img" %>
        <div class='recipe-name'>
        <%= @recipe_food.name %>
        </div>
      </div>
      <div class='right-items'>
        <div class='categories'>
          <p>カテゴリー: <%= @recipe_food.category.name %></p>
          <p>構成: <%= @recipe_food.kondate.name %></p>
        </div>
      </div>
    </div>
  </div>
  <div class='recipe-btns'>
    <%= link_to edit_recipe_path(@recipe_food), class: 'edit-recipe-btn' do %>
      <span class='edit-recipe--btn-text'>編集する</span>
    <% end %>
    <%= link_to recipe_path(@recipe_food), data: {turbo_method: :delete}, class: 'destroy-recipe-btn' do %>
      <span class='destroy-recipe--btn-text'>削除する</span>
    <% end %>
      <div class='addlist-recipe-btn' id="add-to-list-#{@recipe_food.id}" style="cursor:pointer;">
        <span class='addlist-recipe--btn-text'>リストに<br>追加する</span>
      </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>