<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>APP FIRST</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- ヘッダー -->
    <header class="header">
      <div class="heading">
        <h1 class="logo"><a href="index.html">APP FIRST</a></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li class="nav-lists__list"><a href="service.html">SERVICE</a></li>
          <li class="nav-lists__list"><a href="news.html">NEWS</a></li>
          <li class="nav-lists__list"><a href="contact.html">CONTACT</a></li>
        </ul>
      </div>
    </header>

    <!-- トップページのメイン -->
    <div class="index-main">
      <div class="hero">
        <img class="hero-image" src="image/hero.jpg">
        <div class="hero-items">
          <div class="hero-text">
            <div class="hero-text__main">プロトタイプからはじめよう</div>
            <div class="hero-text__sub">あなたのアイデアを、最小のコストでアプリに</div>
          </div>
          <div class="contents row">
          <div class="container">
             <h2>Log in</h2>
             <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
             <div class="field">
             <%= f.label :email %><br />
             <%= f.email_field :email, autofocus: true %>
             </div>

             <div class="field">
             <%= f.label :password %><br />
             <%= f.password_field :password, autocomplete: "off" %>
             </div>

             <% if devise_mapping.rememberable? %>
             <div class="field">
             <%= f.label :remember_me %><br />
             <%= f.check_box :remember_me %>
             </div>
             <% end -%>

             <div class="actions">
             <%= f.submit "Log in" %>
             </div>
             <% end %>
             </div>
           </div>
        </div>
      </div>
    </div>

    <!-- フッター -->
    <footer class="footer">
      <div class="copyright">Copyright©️2022 TECHCAMP</div>
    </footer>
  </body>
</html>
